.toDoForm{
  display: flex;
  justify-content: center;
}
.inputBlockForm{
  display: flex;
  height: 50px;
  margin-right: 10px;
  position: relative;
}
.inputForm{
  width: 350px;
  padding:0 10px;
  border: none;
  background-color: #f4f4f4;
}
.inputBlockError{
  outline: red 1px solid;
}
.inputError{
  position: absolute;
  left: 0;
  bottom: -25px;
  color:rgb(255, 255, 255);
}
.inputForm:focus{
  outline: none;
}
.buttonForm{
  border: none;
  background-color: #fff;

}
.buttonIcon{
  color: #4a1e74;
}
.selectForm{
  display: flex;
  width: 100px;
  border: none;
  cursor: pointer;
  color:#4a1e74;
  font-size: 15px;

}
